<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="GestionCardex.My.MySettings.ConnArt52" connectionString="Provider=SQLOLEDB;Data Source=CSJ-Themis;Persist Security Info=True;Password=a1de!;User ID=sa;Initial Catalog=Art52;Application Name=GestionCardex"
      providerName="System.Data.OleDb" />
    <add name="GestionCardex.My.MySettings.ConnCardAvo" connectionString="Provider=SQLOLEDB;Data Source=CSJ-Themis;Persist Security Info=True;Password=a1de!;User ID=sa;Initial Catalog=CardAvo;Application Name=GestionCardex"
      providerName="System.Data.OleDb" />
    <add name="GestionCardex.My.MySettings.ConnStaticPC" connectionString="Provider=SQLOLEDB;Data Source=CSJ-Themis;Persist Security Info=True;Password=a1de!;User ID=sa;Initial Catalog=StaticPc;Application Name=GestionCardex"
      providerName="System.Data.OleDb" />
    <add name="CardAvoEntities" connectionString="metadata=res://*/CardAvo.csdl|res://*/CardAvo.ssdl|res://*/CardAvo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSJ-ART52;initial catalog=CardAvo;persist security info=True;user id=sa;password=a1de!;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestionCardex.My.MySettings.ConnFVI" connectionString="Provider=SQLOLEDB;Data Source=CSJ-WEB01;Persist Security Info=True;Password=a1de!;User ID=sa;Initial Catalog=Fvi;Application Name=GestionCardex"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>